AUTHORS
build/*
build-stamp
ChangeLog
cover/
covhtml/
dist/
doc/build
*.DS_Store
*.pyc
etc/neutron/plugins/ml2/ml2_conf_odl.ini.sample
networking_odl.egg-info/
networking_odl/vcsversion.py
networking_odl/versioninfo
pbr*.egg/
run_tests.err.log
run_tests.log
# Files create dy releasenotes build
releasenotes/build
setuptools*.egg/
subunit.log
*.mo
*.sw?
*~
.vagrant
/.*
!/.coveragerc
!/.gitignore
!/.gitreview
!/.mailmap
!/.pylintrc
!/.stestr.conf
!/.testr.conf
!/.zuul.d
