include AUTHORS
include README.rst
include ChangeLog
include LICENSE

include networking_odl/db/migration/alembic_migrations/script.py.mako
include networking_odl/db/migration/alembic_migrations/README
recursive-include networking_odl/db/migration/alembic_migrations/versions *

recursive-include neutron/locale *

exclude .gitignore
exclude .gitreview

global-exclude *.pyc
